<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Customer Relationship Management</title>
    
    <link rel="stylesheet" th:href="@{../css/all.css}">
    <link rel="stylesheet" th:href="@{../css/style.css}">
  <!-- Add icon link -->
    <link rel="shortcut icon" href="/images/crmn.png">
  
  </head>
  <body>
    <div class="container">
      <header>
        
        <!-- navigation -->
        <nav class="nav">
          <div class="logo">
            <a href="index.html" class="active nav-item">
              <img src="images/01.png" alt="Carrotsuite" />
            </a>
            
          </div>
             
          <div class="icons left">
            <div class="dropdown">
              <button class="dropbtn">
                <i class="fas fa-bars"></i>
              </button>
              <div class="dropdown-content">
                <a href="#">Deshboard</a>
                <a href="#">Contacts</a>
      
              </div>
          </div>


          <div class="icons right">
            <a href="#" class="nav-item">
              <div class="badge"><span>5</span></div>
              <i class="far fa-bell"></i>
            </a>
            <a href="#" class="nav-item"><i class="far fa-envelope"></i></a>
          </div>
          
          <div class="user" id="user">
     <div class="user" id="user">
          <span sec:authorize="isAuthenticated">
        <a th:href="@{/logout}">
         Logout
        
        </a>
    
    </td>
            </div>
          </div>
        </nav>
        <!-- end of feeds navigation -->
      </header>
      <main class="main">
        <section class="sidebar">
          <h3>CRM</h3>
          <ul class="menu">
            <li>
              <a href="#" title="Home">
                <i class="fas fa-home"></i>
                <span>Home</span>
              </a>
            </li>
            <li>
              <a href="#" title="Dashboard">
                <i class="fas fa-tachometer-alt"></i>
                <span>Dashboard</span>
              </a>
            </li>
            <li>
              <a href="/clients" title="Clients">
                <i class="fas fa-sitemap"></i>
                <span>Clients</span>
              </a>
            </li>
            <li>
              <a href="supports/create" title="supports">
                <i class='fas fa-ticket-alt'></i>
                <span>Support Ticket</span>
              </a>
            </li>
  
            <li>
              <a href="/Salespipeline" title="Sales Pipeline">
                <i class="fas fa-cat"></i>
                <span>Sales Pipeline</span>
              </a>
            </li>
            <li>
              <a href="#" title="list-check">
                <i class='fas fa-tasks'></i>
                <span>Task</span>
              </a>
            </li>
          </ul>
        </section>
        <section class="page-content">
          <article class="header">
            <div class="info">
              <p><span>Dashboard</span> _Client</p>
            </div>
            <div class="dropdown">
              <button class="dropbtn">
                Actions <i class="fas fa-caret-up"></i>
              </button>
              <div class="dropdown-content">
                <a href="sms:+918006357434">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path
                      d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2"
                    />
                  </svg>
                  Send SMS
                </a>
                <a href="mailto:ram8006357434@gmail.com">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <rect x="3" y="5" width="18" height="14" rx="2" />
                    <polyline points="3 7 12 13 21 7" />
                  </svg>
                  Send Email
                </a>
               
              </div>
            </div>
          </article>
          <article class="board">
            <p>Clients</p>
            <section class="boxes">
              <div class="box bg-pink">
                <p>All customers</p>
                <div class="icon-value">
                  <div class="icon">
                    <i class="fas fa-users"></i>
                  </div>
                  <p class="value">45</p>
                </div>
              </div>
              <div class="box bg-purple">
                <p>No of transactions</p>
                <div class="icon-value">
                  <div class="icon">
                    <i class="fas fa-exchange-alt"></i>
                  </div>
                  <p class="value">26</p>
                </div>
              </div>
              <div class="box bg-cyan">
                <p>Current/Ongoing</p>
                <div class="icon-value">
                  <div class="icon"><i class="fab fa-forumbee"></i></div>
                  <p class="value">9</p>
                </div>
              </div>
              <div class="box bg-ash">
                <p>post sales</p>
                <div class="icon-value">
                  <div class="icon">
                    <i class="fas fa-chart-pie"></i>
                  </div>
                  <p class="value">45</p>
                </div>
              </div>
              <div class="box bg-deep-blue">
                <p>Incoming sales</p>
                <div class="icon-value">
                  <div class="icon">
                    <i class="fas fa-cart-arrow-down"></i>
                  </div>
                  <p class="value">0</p>
                </div>
              </div>
              <div class="box bg-pale">
                <p>Passive transactions</p>
                <div class="icon-value">
                  <div class="icon">
                    <i class="fas fa-users"></i>
                  </div>
                  <p class="value">0</p>
                </div>
              </div>
            </section>
           <!--  <section class="create-client">
              <button onclick="window.location.href='client';" ><i class="fas fa-plus"  ></i>Create client</button>
            </section> -->
            
              </div>
            </form>
          </article>
        </section>
      </main>
    </div>
    
    
    <script>
      const menuLinks = document.querySelectorAll(".sidebar .menu a");

      for (const link of menuLinks) {
        link.addEventListener("mouseenter", function () {
          if (window.matchMedia("(max-width: 626px)").matches) {
            const tooltip = this.querySelector("span").textContent;
            this.setAttribute("title", tooltip);
          } else {
            this.removeAttribute("title");
          }
        });
      }
    </script>
    
  </body>
</html>
